@model Shop_test.Models.Shops

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shops</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
