



<div class="form-horizontal" ng-controller="shopController">
        <h2>Edit</h2>
        <h4>Shops</h4>
        <hr />
        @*<div class="form-group">
            @html.label("name")
            <div class="col-md-10">
                @html.editorfor(model => model.shop_name, new { htmlattributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.shop_adress, htmlattributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.editorfor(model => model.shop_adress, new { htmlattributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.shop_time, htmlattributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.editorfor(model => model.shop_time, new { htmlattributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
