<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Site.css")
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Shops and products", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/Scripts/angular.js")
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/loading-bar.js"></script>
    @Scripts.Render("~/Scripts/Routes_module.js")
    @Scripts.Render("~/Scripts/ShopsController.js")
    @Scripts.Render("~/Scripts/ProductsController.js")
</body>
</html>
